-- MO-MO Analytics Performance Indexing (v6)
-- Goal: Sub-millisecond chart rendering by preventing Full Table Scans on date ranges.

CREATE INDEX IF NOT EXISTS idx_orders_created_at ON orders (created_at DESC);
